<%= form_with(model: activity) do |form| %>
  <% if activity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(activity.errors.count, "error") %> prohibited this activity from being saved:</h2>

      <ul>
        <% activity.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :distance %>
    <%= form.text_field :distance %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.datetime_select :date %>
  </div>

  <div class="field">
    <%= form.label :distance %>
    <%= form.text_field :distance %>
  </div>

  <div class="field">
    <%= form.label :avg_hr %>
    <%= form.number_field :avg_hr %>
  </div>

  <div class="field">
    <%= form.label :max_hr %>
    <%= form.number_field :max_hr %>
  </div>

  <div class="field">
    <%= form.label :effort %>
    <%= form.number_field :effort %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :elevation %>
    <%= form.number_field :elevation %>
  </div>

  <div class="field">
    <%= form.label :image_path %>
    <%= form.text_field :image_path %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
