<div class="activity-mainbody">
  <div class="activity-userinfo activity-common">
    User info
  </div>
  <div class="activity-feed activity-common">
    Feed
    <% @activities.each do |activity| %>
      <div style="background-color: rgb(250, 239, 226);">
        
        <div class="entry-header">            
          <div class="left" style="padding-bottom: 5px;">              
            <img class="entry-avatar" alt="avatar" src="https://www.forez-info.com/images/stories/Mag/gueorgiouinterwtrs.jpg">
          </div>
        <h5><%= activity.user_id %></h5>
        </div>
        <%= link_to activity do%>
          <h4><%= activity.title %></h4>
        <% end %>
        <p><%= activity.description %></p>
        <p>Distance: <%= activity.distance %></p>
        <%= activity.elapsed_time.strftime("Elapsed Time: %H:%M:%S") %>
        <%= activity.elevation %>
        <%= link_to 'Show', activity %>
      </div>
      <br>
    <% end %>

  </div>
  <!-- The point of this misc column is to add more technical data
  such as distance and training related, friends updates, clubs updates
  in small widgets -->
  <div class="activity-misc activity-common">
    Misc
  </div>
</div>




    
<%= link_to 'New Activity', new_activity_path %>
<br><br>

