<div class="activity-mainbody">
  <div class="activity-userinfo">
    User info
  </div>
  <div class="activity-feed">
    Feed
    <% @activities.each do |activity| %>
      <div class=>
        <tr>
        <td><%= activity.title %></td>
        <td><%= activity.description %></td>
        <td><%= activity.date_time %></td>
        <td><%= activity.distance %></td>
        <td><%= activity.elapsed_time %></td>
        <td><%= activity.elevation %></td>
        <td><%= activity.avg_hr %></td>
        <td><%= activity.max_hr %></td>
        <td><%= activity.effort %></td>
        <td><%= link_to 'Show', activity %></td>
        <td><%= link_to 'Edit', edit_activity_path(activity) %></td>
        <td><%= link_to 'Destroy', activity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      </div>
    <% end %>

  </div>
  <!-- The point of this misc column is to add more technical data
  such as distance and training related, friends updates, clubs updates
  in small widgets -->
  <div class="activity-misc">
    Misc
  </div>
</div>




    
<%= link_to 'New Activity', new_activity_path %>
<br><br>

