
<div class="show-lay">
 <p>
   <div class="show-1">
     <strong></strong>
     <%= @activity.title %>
   </div>
 </p>

 <p>
   <div class="show">
     <strong>Date time:</strong>
     <%= @activity.date_time.to_formatted_s(:short) %>
   </div>
 </p>

 <p>
   <div class="show-3">
     <strong>Time:</strong>
     <%= @activity.elapsed_time.strftime('%I:%M:%S') %>
   </div>
 </p>

 <p>
   <div class="show-4">
     <strong>Distance:</strong>
     <%= @activity.distance %>
   
     <strong>Elevation:</strong>
     <%= @activity.elevation %>
   
     <strong>Effort:</strong>
     <%= @activity.effort %>
   </div>
 </p>

 <p>
   <div class="show-5">
     <strong>Average hr:</strong>
     <%= @activity.avg_hr %>

     <strong>Maximum hr:</strong>
     <%= @activity.max_hr %>
   </div>
 </p>

 <p>
   <div class="show-2">
     <strong>Description:</strong>
     <%= @activity.description %>
   </div>
 </p>
</div>

<br>
<%= link_to 'Edit', edit_activity_path(@activity) %> |
<%= link_to 'Back', activities_path %>
